
<h1>Enter a word!</h1>
<form action='/anagram'>
  <div class="form-group">
    <label for="anagram">Enter a number</label>
    <input id="anagram" name="anagram" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
